{% extends 'myapp/layout3.html' %}
{% load static %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">


<style>
  .add-button{
    float : right;
    background-color: #36918b; /* Green */
    border: none;
    color: white;
    padding:9px 6px 9px 7px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px -3px;
    cursor: pointer;
    border-radius: 35px!important;
    text-decoration: none;
  }
  .btn-xs {
    padding: 5px 9px;
    border-radius:5px!important;
 }
</style>
<div>
<h3 class="page-title">
  Company List <!--<small>user account page sample</small> -->
  <button class="add-button" type="button"><a style="text-decoration:none;color:white;" href="{% url 'company_registration' %}">Add comapny</a></button>
 </h3></div><br>
 
 <div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <i class="fa fa-home"></i>
          <a href="{% url 'dashboard' %}">Home</a>
          <i class="fa fa-angle-right"></i>
      </li>
   <li>
          <a href="">Company List</a>
      </li>
  </ul>

</div>

<table id="test_table" class="display table table-striped table-bordered" border="1" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Company Name</th>
        <th>Description</th>
        <th>Edit/Delete Company</th>
       
       
      </tr>
    </thead>
              
  </table>
  <script type="text/javascript">
   $(document).ready(function() {
    $.noConflict();
   
   
    $('#test_table').DataTable({
        "ajax":"static/company.json",

        "columns":[
            {"data": "id"},
            {"data": "company_name",
            "render": function (data, type, full, meta){
    return '<a href="company_detail/' + full.id + '">'+data+'</a>';
        }},
            {"data": "description"},

            {"data": null,
            "render": function (data, type, full, meta){
              if(type === 'display')
              {
              data ='<a href="updatecompany/' + full.id +'"><button class="btn btn-primary btn-xs"  data-title="Edit" data-toggle="modal" data-target="#edit" type="button"><span class="glyphicon glyphicon-pencil"></span></button></a>' +
                                            '&nbsp;&nbsp;<button class="btn btn-danger btn-xs" data-href="companydelete/' + full.id+ '/" data-title="Delete" data-toggle="modal" data-target="#delete" type="button"><span class="glyphicon glyphicon-trash"></span></button>';
                                          }
              return data;
                
            
                }}
        
            ]
            
        
        });
        
        $('#test_table tbody').on('click', 'button[data-target="#delete"]', function () {
          var btn = this;
          var url=$(this).attr("data-href");
          swal({
              title: "want to delete",
              text: "It will be deleted permanently",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "confirm",
              cancelButtonText: "cancel",
              closeOnConfirm: false,
              closeOnCancel: false
          }, function (isConfirm) {
              if (isConfirm) {
                $.ajax({
                url: url,
                success:function() {
                  location.reload();
                  swal({
                      title: 'Deleted!', 
                      text: 'Item  deleted successfully.',
                      type: 'warning'
                  });
                 
                
                }
                });
              } else {
                  swal("Failed", "Item cannot be deleted", "error");
              }
          });
      });
});
         
  </script>
 {% endblock %}