{% extends 'myapp/layout4.html' %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">


<style>
.add-button{
  float:right;
  background-color: #36918b; /* Green */
  border: none;
  color: white;
  padding:9px 6px 9px 7px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px -3px;
  cursor: pointer;
  border-radius: 35px!important;
  text-decoration: none;

}

.btn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
 }
.btn-xs {
  padding: 5px 9px;
  border-radius:5px!important;
}

</style>
<div>
<h3 class="page-title">
  Device List <!--<small>user account page sample</small> -->
  <button class="add-button" type="button"><a style="text-decoration:none;color:white;" href="{% url 'add_device' compdetail.id %}">Add Device</a></button>
 </h3></div><br>
 <div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <i class="fa fa-home"></i>
          <a href="{% url 'dashboard' %}">Home</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="{% url 'company_view' %}">{{ compdetail.company_name }}</a>
          <i class="fa fa-angle-right"></i>
      </li> 
      <!-- <li>
          <a href="#">Pages</a>
          <i class="fa fa-angle-right"></i>
      </li> -->
      <!-- <li>
          <a href="{% url 'company_view' %}">{{ compdetail.company_name }}</a>
          <i class="fa fa-angle-right"></i>
      </li> -->
      <li>
          <a href="">Device List</a>
      </li>
  </ul>
</div>


<table id="test_table_device" class="display table table-striped table-bordered" border="1" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>device type</th>
        <th>device name</th>
        <th>Username</th>
        <th>Password</th>
        <th>device location</th> 
        <th>Edit/Delete</th> 
        
      </tr>
    </thead>
    <tbody>
      {% for d in device %}
      <tr>
          <td>{{ d.id }}</td>
          <td>{{ d.device_type_id }}</td>
          <td><a href="{% url 'device_detail' d.id %}">{{ d.device_name }}</a></td>

          <td><span class="secretInfo">{{ d.device_username }}</span> &nbsp;&nbsp;<a class ="buttons"><i class="fa fa-copy" style="font-size:16px;color:black;"></i></a></td>
          
          <td><input type="password" name="device_password" id="device_password" value="{{ d.device_password }}"  style="width: fit-content; border:none;background-color: none;height: 30px;"  readonly/><span toggle="#password-field" name ="dynamic" class="fa fa-fw fa-eye field_icon toggle-password"></span></td>
          
          <td>{{ d.location_id.location_name }}</td>
          
          <td><a href ="{% url 'device_update' d.id compdetail.id %}"><button  class="btn btn-primary btn-xs"  data-title="Edit" data-toggle="modal" data-target="#edit" type="button"><span class="glyphicon glyphicon-pencil"></span></button></a>
            &nbsp;&nbsp;<button class="btn btn-danger btn-xs" href ="{% url 'device_delete' d.id compdetail.id %}"   data-title="Delete" data-toggle="modal" data-target="#delete" type="button"><span class="glyphicon glyphicon-trash"></span></button></td>
         
      </tr>
      {% endfor %}
  </tbody>
              
  </table>
  <script>
    $(document).ready(function() {
      $.noConflict();
      $('test_table_device').DataTable();
    } );

    $('#test_table_device tbody').on('click', 'button[data-target="#delete"]', function () {
          event.preventDefault();
          var btn = this;
          var url=$(this).attr("href");
          swal({
              title: "want to delete",
              text: "It will be deleted permanently",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "confirm",
              cancelButtonText: "cancel",
              closeOnConfirm: false,
              closeOnCancel: false
          }, function (isConfirm) {
              if (isConfirm) {
                $.ajax({
                url: url,
                success:function() {
                  location.reload();
                  swal({
                      title: 'Deleted!', 
                      text: 'Item  deleted successfully.',
                      type: 'warning'
                  });
                 
                
                }
                });
              } else {
                  swal("Failed", "Item cannot be deleted", "error");
              }
          });
      });
    </script>
    <!-- <script>
      $("body").on('click', '.toggle-password', function() {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $("#device_password");
        if (input.attr("type") === "password") {
          input.attr("type", "text");
        } else {
          input.attr("type", "password");
        }
      
      });
      </script> -->
      <script>
      var myButton = document.getElementsByName('dynamic');
      var myInput = document.getElementsByName('device_password');
      myButton.forEach(function(element, index){
        element.onclick = function(){
           'use strict';
            $(this).toggleClass("fa-eye fa-eye-slash");
            if (myInput[index].type == 'password') {
                myInput[index].setAttribute('type', 'text');
              
      
            } else {
                 myInput[index].setAttribute('type', 'password');
               
            }
        }
      })
</script>





 {% endblock %}


