{% extends 'myapp/layout4.html' %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">


<style>
.add-button{
  float:right;
  background-color: #36918b; /* Green */
  border: none;
  color: white;
  padding:9px 6px 9px 7px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px -3px;
  cursor: pointer;
  border-radius: 35px!important;
  text-decoration: none;

}

.btn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
 }
.btn-xs {
  padding: 5px 9px;
  border-radius:5px!important;
}
</style>
<div>
<h3 class="page-title">
  Licence List <!--<small>user account page sample</small> -->

  <button class="add-button" type="button"><a style="text-decoration:none;color:white;" href="{% url 'licence' compdetail.id %}">Add Licence</a></button> 
 </h3></div><br>
 <div class="page-bar">
  <ul class="page-breadcrumb">
      <li>
          <i class="fa fa-home"></i>
          <a href="{% url 'dashboard' %}">Home</a>
          <i class="fa fa-angle-right"></i>
      </li>
      <li>
          <a href="{% url 'company_view' %}">{{ compdetail.company_name }}</a>
          <i class="fa fa-angle-right"></i>
      </li> 
      <!-- <li>
          <a href="#">Pages</a>
          <i class="fa fa-angle-right"></i>
      </li> -->
      <!-- <li>
          <a href="{% url 'company_view' %}">{{ compdetail.company_name }}</a>
          <i class="fa fa-angle-right"></i>
      </li> -->
      <li>
          <a href="">Licence List</a>
      </li>
  </ul>
</div>


<table id="test_table_licence" class="display table table-striped table-bordered" border="1" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>licence type</th>
        <th>licence name</th>
        <th>licence_quantity </th>
        <th>Edit/Delete</th>
        
      </tr>
    </thead>
    <tbody>
      {% for l in lic %}
      <tr>
          <td>{{ l.id }}</td>
          <td>{{ l.licence_type_id.licence_type_name }}</td>
          <td><a href="{% url 'licence_detail' l.id %}">{{ l.licence_name }}</a></td>
          <td>{{ l.licence_quantity }}</td>

          <td><a href="{% url 'licence_update' l.company_id.id l.id  %}"><button class="btn btn-primary btn-xs"  data-title="Edit" data-toggle="modal" data-target="#edit" type="button"><span class="glyphicon glyphicon-pencil"></span></button></a>
            &nbsp;&nbsp;<button class="btn btn-danger btn-xs" href ="{% url 'licence_delete' l.company_id.id l.id  %}"  data-title="Delete"  data-toggle="modal" data-target="#delete" type="button"><span class="glyphicon glyphicon-trash"></span></button></td>
      </tr>
      {% endfor %}
  </tbody>
              
  </table>
  <script>
    $(document).ready(function() {
      $.noConflict();
      $('#test_table_licence').DataTable();
    } );
    $('#test_table_licence tbody').on('click', 'button[data-target="#delete"]', function () {
          event.preventDefault();
          var btn = this;
          var url=$(this).attr("href");
          swal({
              title: "want to delete",
              text: "It will be deleted permanently",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "confirm",
              cancelButtonText: "cancel",
              closeOnConfirm: false,
              closeOnCancel: false
          }, function (isConfirm) {
              if (isConfirm) {
                $.ajax({
                url: url,
                success:function() {
                  location.reload();
                  swal({
                      title: 'Deleted!', 
                      text: 'Item  deleted successfully.',
                      type: 'warning'
                  });
                 
                
                }
                });
              } else {
                  swal("Failed", "Item cannot be deleted", "error");
              }
          });
      });
    </script>
    
 {% endblock %}

 