
{% extends 'myapp/layout4.html' %}
{% load static %}
{% block content %}
<style>
    .add-button{
      float : right;
      background-color: #36918b; /* Green */
      border: none;
      color: white;
      padding:9px 6px 9px 7px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 4px;
      cursor: pointer;
      border-radius: 35px!important;
      text-decoration: none;
    }
    .btn-xs {
      padding: 5px 9px;
      border-radius:5px!important;
   }
  </style>
<h3 class="page-title">
    Meeting Detail <!--<small>user account page sample</small> -->

   </h3>
   <div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{% url 'dashboard' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
                <a href="{% url 'company_view' %}">{{ compdetail.company_name }}</a>
                <i class="fa fa-angle-right"></i>
            </li> 
        <!-- <li>
            <a href=""></a>
            <i class="fa fa-angle-right"></i>
        </li> -->
        <li>
            <a href="">Meeting Detail</a>
            <i class="fa fa-angle-right"></i>
        </li>
         <!-- <li>
            <a href="">{{ loc_detail.location_name }} </a>
            <i class="fa fa-angle-right"></i>
        </li> -->
    </ul>
  </div>




  <div class="row margin-top-20">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <!-- <div class="portlet light profile-sidebar-portlet"> -->
                <!-- SIDEBAR USERPIC -->
                <!-- <div class="logo">
                    <img src="{{ compdetail.company_logo.url }}" class="img-responsive" alt="">
                </div> -->
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">

                    
                    <!-- <div class="profile-usertitle-name">
                       Company Name: {{ compdetail.company_name }}
                    </div> -->
                    
                <!-- </div> -->
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->

                <!-- <div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
                    <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                </div> -->
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <!-- <li>
                            <a href="extra_profile.html">
                            <i class="icon-home"></i>
                            Overview </a>
                        </li> -->
                        
                        <!-- <li>
                            <a href="page_todo.html" target="_blank">
                            <i class="icon-check"></i>
                            Tasks </a>
                        </li> -->
                        <!-- <li>
                            <a href="extra_profile_help.html">
                            <i class="icon-info"></i>
                            Help </a>
                        </li> -->
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="portlet light"> -->
                        <div class="portlet-title tabbable-line">
                            <!-- <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Company Detail</span>
                            </div> -->
                            <!-- <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                                </li>
                                
                            </ul> -->
                        </div>
                        <div class="pogo"> <!--portlet-body  -->
                            <!-- <div class="tab-content"> -->
                                
                               
                                <h4><strong>Company Name</strong> - {{ meet.company_i }}</h4><br> 
                                <p><strong>Name</strong> - {{ meet.title }}<br><br>
                                <strong>When</strong> - {{ meet.date_time }} {{ meet.time }}<br><br>
                                <strong>Where</strong> - {{ meet.where }}<br><br>
                                <strong>By</strong> - {{ meet.by }}<br></p><br>
                                
                                <strong>Attendees</strong> -{% for l in emp %}
                                {{ l.employee_name }},
                              
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>

    {% endblock %}