{% extends 'myapp/layout4.html' %}
{% load static %}
{% block content %}

<h3 class="page-title">
    Update Website<!--<small>user account page sample</small> -->
   </h3>
   <div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{% url 'dashboard' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
                <a href="{% url 'company_view' %}">{{ compdetail.company_name }}</a>
                <i class="fa fa-angle-right"></i>
            </li> 
        <!-- <li>
            <a href="#">Pages</a>
            <i class="fa fa-angle-right"></i>
        </li> -->
        <li>
            <a href="">Update Website</a>
        </li>
    </ul>
</div>
<div class="profile-content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-globe theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase" align="center">Update Website</span>
                        </div><br><br><br>
<form action="" method="POST" id="form9" enctype="multipart/form-data" name="website_update">
    {% csrf_token %}
    
    <div class="form-group">
        <label class="control-label">Website Type</label>
        <select class="form-control" id="website_type" name="website_type" value="{{ webs.website_type }}">
            <option value="{{ webs.website_type.id }}" >{{ webs.website_type }}</option>
            
            {% for d in a %}
                <option value="{{ d.id }}" >{{ d.website_type_name }}</option>
            {% endfor %}
        </select>
    
    </div>
    <div class="form-group">
            <label class="control-label">Website Name</label>
            <input type="text" name="website_name" id="website_name" value="{{ webs.website_name }}" class="form-control"/>
        </div>
    <div class="form-group">
        <label class="control-label">Website Url</label>
        <input type="text" name="website_url" id="website_url" value="{{ webs.website_url }}"  class="form-control"/>
    </div>
        
        <input class="btn green-haze" type="submit" name="btnform2" />
        <a href="javascript:;" class="btn default">
        Cancel </a>
    </div>
</form>
</div>

{% endblock %}